/* 네비게이션 바 */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0D3745;
  color: white;
  width: 100%; /* 전체 화면 너비 */
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav-logo-image {
  height: 50px; /* 로고 높이 */
  margin-right: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.nav-links li a:hover {
  text-decoration: underline;
}