.book-info-container {
  display: flex !important; /* 수평 정렬 */
  flex-direction: row !important; /* 이미지를 좌우로 배치 */
  align-items: center !important; /* 이미지와 텍스트 수직 정렬 */
  background-color: white;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 10px; */
  margin-top: 20px;
}

.book-info-content {
  display: flex;
  align-items: flex-start; /* 텍스트와 이미지 위쪽 정렬 */
}

.book-cover {
  width: 120px;
  height: auto;
  margin-right: 20px;
  object-fit: cover;
}


.book-details {
  flex: 1;
}

.book-details h2 {
  font-size: 1.5rem;
  color: #0D3745;
  margin-bottom: 10px;
}

.book-details p {
  margin: 5px 0;
  font-size: 1rem;
  color: #333;
}